#container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

form {
  padding: 5% 15%;
  height: 400px;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 1px solid black;
}

fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#centerArea {
  width: 100%;
  display: flex;
  align-items: space-between;
}

#centerArea > * {
  flex: 1;
}

#bottomArea {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#bottomArea > #Msg {
    font-weight: bold;
    font-size: 1.2em;
}

.error{
    color: red;
}

.success{
    color: green;
}
