<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
    <!-- <script src="script.js"></script> -->
</head>

<body>
    <h1>Hello, World!</h1>
    <div id="myDiv" class="square"></div>
    <p id="myP" class="pick-me">Pick me!</p>

    <span class="pick-me">span</span><br>

    <a href="https:/www.google.com" id="myA">go to google</a><br>

    <button onclick="alert('Button clicked!')">show alert</button>
    <button onclick="showAlert()">show alert function</button>

    <div>
        <h2>inline Events</h2>
        <p id="myP2">change here</p>
        <button onclick="changePContent()">change content</button>
    </div>

    <div>
        <h2>handler Events</h2>
        <p id="pHandler">change here</p>
        <button id="btnHandler">change p</button>
    </div>

    <script src="script.js"></script>
</body>

</html>