:root {
  --green: #02ff88;
  --yellow: #ffcc02;
  --primary-background: #0e0e0e;
  --secondary-background: #1a1a1a;
  --orange: #ff9500;
  --text: #c5c5c5;
  --table-primary: #333333;
  --table-secondary: #2d2d2d;
  --table-inner-border: #555555;
}

body {
  background-color: var(--primary-background);
  color: var(--text);
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

#main-div {
  margin: 7% 0;
  padding: 2%;
  background-color: var(--secondary-background);
}

h1 {
  color: var(--green);
  text-decoration: underline;
}

table {
  display: inline-block;
  border-collapse: collapse;
  text-align: center;
  border: 3px solid var(--green);
  background-color: var(--table-secondary);
}

th,
td {
  border: 2px solid var(--table-inner-border);
  padding: 10px;
}

h2 {
  color: var(--yellow);
  font-weight: bold;
  padding-bottom: 10px;
}

th {
  color: var(--green);
}

tr > td:first-child {
  font-weight: bold;
  color: var(--orange);
}

tr:nth-child(even) {
  background-color: var(--table-primary);
}
