:root {
    --pink: #F08080;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    /* make height responsive */
    height: 100%;
}

main {
    /* make height responsive */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.up-container {
    flex: 1;
    padding: 5% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid var(--pink);
}

.circle {
    border: 5px solid var(--pink);
    width: 20%;
    margin-bottom: 3%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: var(--pink);
}

.content {
    margin: 0 10%;
    text-align: center;
}

.down-container {
    
    border: 5px solid var(--pink);
    border-top: none;
    padding: 10px 5%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
}

.item {
    width: 70px;
    height: 20px;
    background-color: var(--pink);
}

/* option 1: */
/* .item:first-child{
    margin-right: auto;
} */

/* option 2: */
.item:nth-child(2) {
    flex-grow: 1;
    background-color: white;
}