/* General Reset */
* {
    box-sizing: border-box;
    /* margin: 0;
    padding: 0; */
}

/* Layout Styles */
.row {
    display: flex;
    border: 2px solid green;
    margin-bottom: 20px;
}

.box {
    flex: 1;

}

p {
    margin: 5px;
    padding: 10px;
    border: 1px solid blue;
    text-align: center;
}

.box.large {
    flex: 4;
    display: flex;
}

.box.small {
    flex: 1;
}