body{
    background-color: aliceblue;
    font-family: Arial, sans-serif;
}

h1{
    text-align: center;
    text-decoration: underline;
}

h2{
    color: rgb(0, 68, 255);
}

.hr-h2{
    border: 1px solid blue;
}

.bold-purple{
    font-weight: bold;
    color: purple;
}

.italic-green{
    font-style:italic ;
    color: green;
}

hr{
    border: 1px solid;

}