* {
    box-sizing: border-box;
}

nav {
    background-color: green;
}


nav>ul {
    display: flex;
    list-style: none;
    padding: 0;
}

nav>ul>li>a {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    color: white;
}

nav>ul>li>a.active {
    background-color: rgb(42, 218, 42);
}

nav>ul>li>a:hover {
    background-color: #ccc;
}


nav>ul>li:last-child {
    margin-left: auto;
}