#main {
  margin: 200px auto;
  height: 100%;
  width: 50%;
  border: 5px solid;
  position: relative;
}

img {
  width: 100%;
  height: 100%;
  border: 1px solid;
}

#a,
#b,
#c,
#d,
#e {
  color: green;
  position: absolute;
}

#a {
  top: 0;
}
#b {
  top: 0;
  right: 0;
}
#c {
  bottom: 0;
}
#d {
  bottom: 0;
  right: 0;
}
