* {
    box-sizing: border-box;
}


html,
body {
    /* set page height always as 100% */
    min-height: 100vh;
    height: auto;
}

main {
    background-color: aquamarine;
    display: flex;
    justify-content: center;
}

.box {
    flex: 1;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    background-color: blue;
    /* make the circle size responsive*/
    width: 25vw;
    height: 25vw;
    /*make it circle*/
    border-radius: 50%;
    max-width: 300px;
    /* Prevents it from becoming too large */
    max-height: 300px;
}

.content {
    padding: 10%;
}