* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  /* start at the height of the full view port.
    allows the body to expand as needed */
  min-height: 100vh;
}

.images-wrapper {
  /* no height set - expands as needed. */
  min-width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 5%;
}

.images-wrapper > .image-card {
  width: 80%;
  aspect-ratio: 1 / 1;
  margin: 10px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 1);
  position: relative;
}

.images-wrapper > .image-card > .image {
    width: 100%;
    height: 100%;
}

img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.images-wrapper > .image-card > .image-label {
    position: absolute;
    bottom: 5px;
    left: 5px;
    font-weight: bolder;
    color: #eee;
    opacity: 0.8;
}


@media (min-width: 600px) {
  .images-wrapper > .image-card {
    width: calc(50% - 20px);
  }
}

@media (min-width: 900px) {
    .images-wrapper > .image-card {
      width: calc(100% / 3 - 40px);
    }
}
